.content-section {
    padding: 10px 20px;
}

.fluid-container {
    width: 100%;
}

/* END HELPS */

header {
    background-color: azure;
}

header .fluid-container {
    display: flex;
    flex: 1;
    gap: 30px;
}

header .fluid-container {
    align-items: center;
}

.menu ul {
    display: flex;
    padding-inline-start: 0;
}

.menu li {
    list-style: none;
    margin-inline-end: 10px;
}

.profile-dropdown {
    margin-left: auto;
}


.main-content {
    background-color: #f4f4f4;
    padding-bottom: 40px;
}

.main-content .fluid-container .heading-cryptototal {
    display: flex;
    flex-direction: column;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

div.heading-cryptototal :is(h1, p) {
    margin-block-start: 0;
}

.cta {
    background-color: #E5E5EA;
}

.cta .fluid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}